body {
  font-family: 'Arial', sans-serif;
  background-color:rgb(115, 182, 216);
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h2 {
  color :rgb(0, 0, 0);
  text-align: center;
}

ul{
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 15px;
  background-color: rgb(234, 231, 231);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
}

li:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

button {
  margin-top: 10px;
  margin-right: 5px;
  padding: 10px 0;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #45a049;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}
